.icon-list {
    display: flex;
    flex-wrap: wrap;
  }
 
  .icon-item {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em; /* space between items */
  }
 
  .icon-item::after {
    content: " ";
    margin-left: 0.2em;
  }
 
  .icon-item:last-child::after {
    content: ""; /* no comma after last item */
  }
 
  .icon-item img {
    margin-right: 4px;
  }