 
:root {
	--traxEmphasisColorVariable: #0085CF;
	--traxEmphasisSvgColorVariable: invert(30%) sepia(86%) saturate(974%) hue-rotate(170deg) brightness(113%) contrast(106%);
	--traxTextColorVariable: #000000;
	--buttonBackgroundColor: #EBEDF0;
	--standardRowHeight: 24px;

	/* a white variant */
	--tabSelectedIconSvgColor: invert(99%) sepia(69%) saturate(538%) hue-rotate(267deg) brightness(116%) contrast(100%);
	/* a medium blue variant */
	--tabNotSelectedIconSvgColor: brightness(0) saturate(100%) invert(35%) sepia(75%) saturate(3007%) hue-rotate(180deg) brightness(94%) contrast(101%);
}

html, body {
  height:100%;
}

body {
	background-color:#FFFFFF;
	background-position:center top;
	background-repeat:no-repeat;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:0;
	padding:0;
}

body a:link, a:visited {
	text-decoration:none;
	color:#0085CF; 
}

body a:active {
	color: black; 
}

body a:hover {
	color: black; 
}

h1 {
	color: #0066A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin:0;
	padding:0;
}

h2 {
	color: #0066A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin:0;
	padding:0;
}

h3 {
	color: #0066A4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin:0;
	padding:0;
}

.treeNode {
	color: black; 
}

.treeNode a:link, a:visited {
	text-decoration:none;
	color: black; 
}

.treeNode a:hover {
	color: red; 
}

#mainDiv {
	margin: 0 auto; 
	width: 99%;
}
.topmenu {
	background-color: white;
	font-family:Arial,Helvetica,sans-serif; 
	font-size:24px; 
	font-weight:normal;
}

.topmenu a:link {
	color: #0085CF;
}

.topmenu a:hover {
	color: red;
}

table.topmenucell td {
	border: 1px solid lightgrey; 
	backgroundcolor: white;
	align: center;
	padding:6px 18px 6px 18px;
	border-radius: 5px;
}

table.productcell td {
	border: 1px solid #0064A5;
	border-radius: 5px 5px 5px 5px;
	padding: 4px;
}

#topmenuselected {
	color: #0066A4;
	border: 3px solid #0066A4; 
	background-color: #DEF0F7;
}

#topmenuselected a:link {
	color: #0066A4;
	background-color: #DEF0F7;
}

#headerTop {
	background-image:url("/files/RepWebFileLibrary/topheaderbg.jpg");
	background-position:center top;
	background-repeat:repeat-x;
	border:medium none;
	height:34px;
	margin:0;
	padding:0;
	position:relative;
	width:100%;
}

#topWrap {
	margin: 0 auto;
	width: 99%;
}

.notebookpageborder {
 	background-color: white;
	border: 1px solid lightgrey;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 2px;
}

.wa-toolbar {
	z-index: 1002;
}

#footer {
	background-image:url("/files/RepWebFileLibrary/footerbg.jpg");
	background-position:center top;
	background-repeat:repeat-x;
	border:medium none;
	height:35px;
	margin:0;
	padding:0;
	position: fixed;
	bottom: 0; 
	left: 0; 
	right: 0;
	width:100%;
	z-index: 1001; 
}

#footerText {
	margin:0 auto;
	color:#A3DAF9;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
	vertical-align: top; 
}

#footerLeft {
	float:left;
	margin:0;
	padding:14px 0 0 0;
	position:relative;
}

#footerLeft a, #footerLeft a:link, #footerLeft a:active, #footerLeft a:visited {
	color:#A3DAF9;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}

#footer a, #footer a:link, #footer a:active, #footer a:visited {
	color:#A3DAF9;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}

#footerLeft a:hover {
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:9px;
	font-weight:bold;
	text-decoration:none;
}

#footerRight {
	float:right;
	margin:0;
	padding:14px 0 0;
	position:relative;
}

#footerRight2 {
	float:right;
	margin:0;
	padding:10px 0 0 10px;
	position:relative;
}

.login {
	width: 300px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: white;
	padding:5px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.reportPage {
	margin: 0 auto; 
	max-width: 1200px; 
}


.flyover {
	display: none;
	position: absolute; 
	z-index: 100;
	background-color: #DEF0F7;
	padding: 5px;
	border: 1px solid #0064A5;
	border-radius: 5px;
}

.flyoverBorder {
	position: absolute; 
	z-index: 100;
	background-color: #DEF0F7;
	padding: 5px;
	border: 1px solid #0064A5;
	border-radius: 5px;
}

.bordered {
	background-color: #DEF0F7;
	padding: 5px;
	border: 2px solid #0064A5;
	border-radius: 5px;
}

.reportSection {
	background: white; 
	border: 1px solid lightgray; 
	padding: 4px;
	width: 100%; 
	margin-bottom: 4px; 
	border-radius: 5px;
}

.layoutWindow {
	position: relative; 
}

.layoutWidget {
	position: absolute;
	border: 0px; 
	font-size: 11px;
}

.layoutBorder {
	border: 1px solid lightgrey;
	background: #F9F9F9; 
	border-radius: 5px;
}

.layoutBorderLeft {
	border: 1px solid lightgrey;
	background: #F9F9F9; 
	border-radius: 5px;
	float: left; 
}

.layoutDiv {
	border: 1px solid lightgrey;
	background: white; 
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
}

.layoutDarkDiv {
	border: 1px solid lightgrey;
	background: #F9F9F9; 
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
}

.select {
}

.select a {
	cursor: pointer;
	text-decoration: none;
	color: #565656;
}

.select a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #D4D4D4; 
	background: #6E7B8B;  
}

speeds: {
    slow: 600,
    fast: 200,
    // Default speed
    _default: 400
}

.pointright1, .pointright2, .pointright3 {
	margin-left: 10px; 
	display: block; 
	background:transparent url("/files/RepWebFileLibrary/pointright.gif") right no-repeat; 
	padding: 1px; 
}

.pointright:hover {
	background: url("/files/RepWebFileLibrary/pointrightred.gif") right no-repeat; 
}

.pointrightselected1, .pointrightselected2, .pointrightselected3 {
	position: relative;
	left: 8px;
	display: block; 
	z-index: 103; 
	border-left: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding-left: 2px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

background: -moz-linear-gradient(left,  #1e5799 0%, #def0f7 0%, #ffffff 0%, #def0f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(0%,#def0f7), color-stop(0%,#ffffff), color-stop(100%,#def0f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1e5799 0%,#def0f7 0%,#ffffff 0%,#def0f7 100%); /* Chrome10+,Safari5.1+ */
background: -ms-linear-gradient(left,  #1e5799 0%,#def0f7 0%,#ffffff 0%,#def0f7 100%); /* IE10+ */
background: linear-gradient(to right,  #1e5799 0%,#def0f7 0%,#ffffff 0%,#def0f7 100%); /* W3C */
}

.chartBar {
	position: absolute;
	background: #F9F9F9; 
	border: 1px; 
	border-radius: 5px;
}

.bannerButton {
	width: 72px; 
	height: 24px; 
	background: url("/files/RepWebFileLibrary/buttonbackground.gif") center no-repeat;
	color: #FCFFC3; 
	vertical-align: top; 
	}

.bannerButtonActiveRefresh {
	width: 72px; 
	height: 24px; 
	background: yellow;
	color: black; 
	vertical-align: top; 
	}

input.linkButton { 
	height: 22px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CBDFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBDFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #CBDFFF); /* for firefox 3.6+ */ 
	padding:1px 4px 1px 4px;
	border: 1px solid gray;
	border-radius: 3px;
}

input.linkButtonHover { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#408ABB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#408ABB)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #408ABB); /* for firefox 3.6+ */ 
}

.htsButton {
	cursor:pointer;
	height: 17px; 
	font-size: 10px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CBDFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBDFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #CBDFFF); /* for firefox 3.6+ */ 
	padding: 1px 4px 1px 4px;
	border: 1px solid gray;
	border-radius: 3px;
}

.htsButton:hover { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#408ABB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#408ABB)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #408ABB); /* for firefox 3.6+ */ 
}

.htsButton:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ABB', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#408ABB), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #408ABB,  #FFFFFF); /* for firefox 3.6+ */ 
	border: 1px solid black; 
}

.headerButton {
	font-size: 14px; 
	color: black; 
	font-weight: normal; 
	white-space: nowrap; 
	padding-top: 10px; 
	position: relative; top: 4px;
}

.webInputField {
	width: 100%;
	height: 100%;
	font-size: 11px; 
	padding-left: 1px; 
	padding-right: 1px; 
	border: 1px solid #686868; 
}

.promptButton {
	height: 26px; 
	font-size: 18px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CBDFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBDFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #CBDFFF); /* for firefox 3.6+ */ 
	padding: 1px 4px 1px 4px;
	border: 1px solid gray;
	border-radius: 3px;
}

.promptButton:hover { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#408ABB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#408ABB)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #408ABB); /* for firefox 3.6+ */ 
}

.promptButton:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ABB', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#408ABB), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #408ABB,  #FFFFFF); /* for firefox 3.6+ */ 
	border: 1px solid black; 
}

.promptDefaultButton {
	height: 26px; 
	font-size: 18px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CBDFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBDFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #CBDFFF); /* for firefox 3.6+ */ 
	padding: 1px 4px 1px 4px;
	border: 2px solid black;
	border-radius: 3px;
}

.promptDefaultButton:hover { 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#408ABB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#408ABB)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #408ABB); /* for firefox 3.6+ */ 
}

.promptDefaultButton:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ABB', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#408ABB), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #408ABB,  #FFFFFF); /* for firefox 3.6+ */ 
	border: 1px solid black; 
}

.reportButton {
	color: black; 
	cursor:pointer;
	font-family:Arial,Helvetica,sans-serif; 
	font-size: 12px;
	white-space: nowrap; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CBDFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBDFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #CBDFFF); /* for firefox 3.6+ */ 
	padding: 1px 4px 1px 4px;
	margin-right: 4px; 
	border: 1px solid gray;
	border-radius: 3px;
}

.reportButton a:link, a:visited, a:active {
	color: black; 
}

.reportButton:hover { 
	color: black; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#408ABB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#408ABB)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #408ABB); /* for firefox 3.6+ */ 
}

.reportButton:active {
	color: black; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ABB', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#408ABB), to(#FFFFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #408ABB,  #FFFFFF); /* for firefox 3.6+ */ 
	border: 1px solid black; 
}

.reportButtonDisabled {
	color: gray; 
	cursor:pointer;
	font-family:Arial,Helvetica,sans-serif; 
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CBDFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CBDFFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FFFFFF,  #CBDFFF); /* for firefox 3.6+ */ 
	padding: 1px 4px 1px 4px;
	margin-left: 4px; 
	margin-right: 4px; 
	border: 1px solid gray;
	border-radius: 3px;
}

.notify-table {
	display:table;
}
.notify-table-caption {
	display:table-caption;
	width: 200px;
	padding: 10px 10px 5px 0;
	text-align: left;
	font-weight: bold;
}
.notify-table-row {
	display:table-row;
}
.notify-table-cell {
	display:table-cell;
	padding: 0 0 0 10px;
}
.notify-table-heading {
	display:table-cell;
	padding: 0 0 0 10px;
	font-weight: bold;
}

div.trax-notify dl {
	padding: 0.5em;
}
div.trax-notify dt {
	float: left;
	clear: left;
	width: 200px;
	text-align: right;
	font-weight: bold;
}
div.trax-notify dt:after {
	content: ":";
}
div.trax-notify dd {
	margin: 0 0 0 210px;
	padding: 0 0 0.5em 0;
}

div.trax-notify-recipients dl {
	padding: 0;
}
div.trax-notify-recipients dt {
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
	font-weight: bold;
}
div.trax-notify-recipients dd:before {
	content: "because ";
}
div.trax-notify-recipients dd {
	margin: 0 0 0 160px;
	padding: 0 0 0 0;
}

#overlay {
  background:black; 
  opacity: 0.0 ; 
  position:fixed;
  width:100%; height:100%;
  left:0; top:0;
  z-index: 9999999;
  display:none;
}

.layoutTable {
	display:table;
	}

.layoutRow {
	display:table-row;
	}

.layoutCell {
	display:table-cell;
	}
	
.largeIcon {
	height: 48px;
	width: 48px;
	}

.mediumIcon {
	height:24px;
	width: 24px;
	}
	
.smallMediumIcon {
	height: 18px;
	width: 18px;
	}

.smallIcon {
	height: 16px;
	width: 16px;
	}

.extraSmallIcon {
	height: 14px;
	width: 14px;
	}
	
.tinyIcon {
	height: 12px;
	width: 12px;
	}

.traxErrorFilter {
	filter: invert(21%) sepia(97%) saturate(3984%) hue-rotate(343deg) brightness(79%) contrast(105%)
	}

/* green */
.traxSuccessfulFilter {
	 filter: brightness(0) saturate(100%) invert(64%) sepia(67%) saturate(475%) hue-rotate(41deg) brightness(96%) contrast(88%)
	}
	
/* lightblue */
.lightblueFilter {
	 filter: brightness(0) saturate(100%) invert(90%) sepia(21%) saturate(145%) hue-rotate(155deg) brightness(102%) contrast(94%)
	}

/* red */
.redFilter {
	 filter: brightness(0) saturate(100%) invert(41%) sepia(91%) saturate(7263%) hue-rotate(353deg) brightness(101%) contrast(131%)
	}

	
.yellowFilter {
	filter: brightness(0) saturate(100%) invert(83%) sepia(43%) saturate(3433%) hue-rotate(0deg) brightness(105%) contrast(104%)
	}

/* ========== */
.traxBlueFilter {
	filter: brightness(0) saturate(100%) invert(23%) sepia(71%) saturate(1219%) hue-rotate(181deg) brightness(97%) contrast(92%)
	}
	
/* button icon default  */
.buttonIconDefaultColor {
	background: #15294B;
	}
.buttonIconDefaultColorFilter {
	filter: invert(10%) sepia(60%) saturate(1815%) hue-rotate(200deg) brightness(96%) contrast(91%);
	}
.buttonIconDefaultBackground {
	background: none;
	}

/* button icon disabled */
.buttonIconDefaultDisabledColor {
	background: #C2C7D0
	}
.buttonIconDefaultDisabledColorFilter {
	filter: invert(74%) sepia(3%) saturate(582%) hue-rotate(180deg) brightness(110%) contrast(86%);
	}
.buttonIconDefaultDisabledBackground {
	background: none
	}
.buttonWhiteFilter{
	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(340deg) brightness(107%) contrast(108%);
	}
/*
.searchLayoutBorder {
    border: 1px solid lightgrey;
    background: #F9F9F9;
    border-radius: 5px;
    padding-left: 3px;
    margin-right: 20px; 
    margin-top: 3px;
}
*/
.toolbar{
	display: flex; 
	}
.toolbarWithSmallGap{
	display: flex; 
	gap: 1px;
	}
.boldText{
	font-weight: 700; 
	}
.normalText{
	font-weight: 400;
	}
.menuGroupContainer{
	width: 175px; 
	z-index: 200; 
	font-size: 14px; 
	text-align: left; 
	}
.moveCursor{
	cursor: move;
	}
.paddingTopStandard{
	padding-top: 2px;
	}
.traxEmphasisColor{
	color: var(--traxEmphasisColorVariable);
	}
.traxTextColor{
	color: var(--traxTextColorVariable);
	}
.displayGrid{
	display: grid;
	}
.displayNone{
	display: none;
	}
.displayBlock{
	display: block;
	}
.standardGridGap{
	gap: 5px;
	}
.traxIconButton {
	cursor: pointer;
	border: 0px;
	background: none;
	border-radius: 6px;
	justify-self: center;
	}
.traxBoundedButton, .traxButton{
	cursor: pointer;
	display: flex;
	align-items: center;
	}
.traxBoundedButton{
	justify-self: self-start;
	}
	
.traxMultiselectButtonBase {
	cursor: pointer;
	display: grid;
	gap: 1px;
	border: none; 
	background: none;
	align-items: center;
	justify-items: left;
	}
.traxMultiselectButtonLabelSelectedIcon{
	grid-template-columns: 1fr 12px;
	}
.traxMultiselectButtonSelectedIconLabel{
	grid-template-columns: 15px 1fr;
	}
.traxMultiselectButtonIconLabelSelectedIcon{
	grid-template-columns: 15px 1fr 12px;
	}
.traxMultiselectButtonSelectedIconIconLabel{
	grid-template-columns: 15px 15px 1fr ;
	}
	
.traxIconButton:hover {
	background: #F5F6F7
	}
.traxIconButton[disabled="disabled"]:hover {
	background: none;
	}
.traxIconButton:active {
	background-color: var(--buttonBackgroundColor);
	}
.standardLabel{
	align-self: center;
	justify-self: start;
	}
.standardCenteredLabel{
	align-self: center;
	justify-self: center;
	}
.standardRightLabel{
	align-self: center;
	justify-self: end;
	}
.boldLabel{
	font-weight: bold; 
	align-self: center;
	justify-self: start; 
	}
.boldEmphasisColorLabel{
	font-weight: bold; 
	align-self: center;
	justify-self: start; 
	color: var(--traxEmphasisColorVariable);
	}
.boldCenteredLabel{
	font-weight: bold; 
	align-self: center;
	justify-self: center;
	}
.boldRightLabel{
	font-weight: bold; 
	align-self: center;
	justify-self: end;
	}
.traxToolbarUnselectedButton{
	color: gray; 
	border: 1px solid gray; 
	font-weight: bold; 
	background-color: white;
	 }
.traxToolbarSelectedButton{
	color: #13528E; 
	border: 1px solid #13528E; 
	font-weight: bold; 
	background-color: white; 
	 }
.redBorder{
	border-color: red;
	}
.expandCollapseDivider{
	height: 85vh;
	display: flex;
	border-left: 1px solid lightgray;
	position: relative;
	margin-left: 15px;
	}
.expandCollapseDividerButton{
	margin-left: -18px;
	}
.verticalAlignMiddle{
	vertical-align: middle;
	}
.lightboxWindow{
	display: grid; 
	grid-template-rows: 22px 1fr 22px; 
	border: 1px solid lightgray;
	z-index: 100;
	position: fixed;
	background-color: #DEF0F7;
	padding: 5px;
	border: 1px solid #0064A5;
	border-radius: 5px;
	}
.lightboxWindowHeaderBar{
	display: grid; 
	grid-template-columns: 1fr 22px; 
	align-items: center; 
	background: lightgray
	}
.lightboxWindowDialogButtonBar{
	display: flex; 
	gap: 1px; 
	justify-content: center;
	}
.headingBar{
	vertical-align: top; 
	padding-top: 4px; 
	padding-left: 4px; 
	margin-bottom: 4px;
	}
.justifySelfStart{
	justify-self: self-start;
	}
.textEntryArea{
	border: 1px solid #A9A9A9;
	padding: 2px;
	min-height: 100px;
	overflow: auto;
	white-space: normal;  
	}
.stringInputField{
	display: grid;
	min-wdith: 0;
	}
.inputField{
	display: grid;
	min-width: 0px;
	align-self: center;
	}
.mediumInputField{
	display: grid;
	align-self: center;
	width: 100px;
	}
.inputFieldDateSized{
	display: grid;
	min-width: 0px;
	max-width: 100px;
	align-self: center;
	}
.textOnlyInputField{
	display: grid;
	min-width: 0px;
	align-self: center;
	background: white;
	border: none;
	}
.textOnlyRightJustifiedInputField{
	display: grid;
	min-width: 0px;
	align-self: center;
	background: white;
	border: none;
	text-align: right: right; 
	}
.booleanInputField{
	display: grid;
	min-width: 0px;
	align-items: center;
	align-self: center;
	grid-template-columns: 20px 1fr;	
	}
.checkboxInputField{
	display: flex;
	margin: 0;
	align-self: center;
	}
.standardGridRowHeight{
	grid-template-rows: 24px
	}
.span1Columns{
	grid-columns: span 1;
	}
.span2Columns{
	grid-columns: span 2;
	}
.span3Columns{
	grid-columns: span 3;
	}
.span4Columns{
	grid-columns: span 4;
	}
.span5Columns{
	grid-columns: span 5;
	}
.span6Columns{
	grid-columns: span 6;
	}
.span7Columns{
	grid-columns: span 7;
	}
.span8Columns{
	grid-columns: span 8;
	}
.span9Columns{
	grid-columns: span 9;
	}
.span10Columns{
	grid-columns: span 10;
	}
.dontWrapWhiteSpace{
	white-space: nowrap;
	}
.kuiAttributePartValue{
	align-self: center; 
	display: grid; 
	justify-self: stretch; 
	min-width: 0;
	}
.kuiAttributePartLabel{
	align-self: center;
	}
.kuiAttributePartSuffix{
	display: flex; 
	align-items: center;
	}
